body {
  background-color: #F6F6F7;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resetBtn {
  /* display: inline-block; */
  position: absolute;
  margin-left: 300px;
}